[role="d-collapse"] .sub-title {
    position: relative;
    line-height: 36px;
    text-indent: 30px;
    border-top: solid 1px var(--border-silver-color);
    border-bottom: solid 1px var(--border-silver-color);
}

[role="d-collapse"] .sub-title.close::before {
    transform: rotate(180deg);
}

[role="d-collapse"] .sub-title.close {
    border-bottom: none !important;
}

[role="d-collapse"].sub-container:last-child {
    border-bottom: solid 1px var(--border-silver-color);
}

[role="d-collapse"] .sub-content.close {
    display: none !important;
}


[role="d-collapse"] .sub-title::before {
    content    : '<';
    display    : inline-block;
    top        : 0px;
    position   : absolute;
    text-indent: 0;
    left       : 10px;
    transform  : rotate(-90deg);
}